.button-green{
  width: 64px;
  height: 65px;
  float:left;
  background-color: #97d961;
  .rounded-corners(5px);
  .bebas;
  color:white;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
  line-height: 65px;
  cursor:pointer;
  .transition(all,300ms,ease);
  text-decoration:none;
  em{
    width: 56px;
    height: 57px;
    position: absolute;
    left: 3px;
    top: 3px;
    border: 1px solid white;
    .rounded-corners(5px);
  }
  .noselect;

  &:hover{
    background-color: #58BE05;
  }

  &:active{
    background-color: #58BE05;
    .box-shadow(inset 2px 2px 2px rgb(112, 112, 112));
  }
  position:relative;
}

.button-forgot{
  width: 56px;
  height: 65px;
  float: left;
  text-align: center;
  .bebas;
  margin-top: 29px;
  margin-left: 11px;
  color: #b1b1b1;
  font-size: 16px;
  cursor:pointer;
  text-decoration:none;
}

.button-register{
  display: inline-block;
  width: 300px;
  height: 50px;
  margin-left: 15px;
  background-color: #48b7cb;
  text-align: center;
  color: white;
  line-height: 50px;
  font-size: 30px;
  .rounded-corners(5px);
  cursor:pointer;
    .transition(all,300ms,ease);

  &:hover{
    background-color: #00839B;
  }

  &:active{
    background-color: #00839B;
    .box-shadow(inset 2px 2px 2px rgb(112, 112, 112));

  }
  position:relative;
}