@import "__elements.less";
@import "__fonts.less";
@import "__animated.less";
@import "__functions.less";
@import "__buttons.less";
@import "__chars.less";

@viewpoint:850px;
body{
	padding:0px;
	margin:0px;
	background-image:url("images/bg.png");
	font-family: "BebasNeueRegular";
	.transition(all,800ms,ease);
	background-color:black;
}

.zoomed{
	.transition(all,800ms,ease);
	-webkit-transform: scale(0.9);
	-webkit-filter: blur(2px) grayscale(100%);
	.opacity(0.8);
}
span.valk{
	display:none;
	top:0px;
	width: 100%;
	height: 488px;
	position: absolute;

	background-repeat: no-repeat;
	background-position: center;

}


section.modal{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	display:none;
	article{
		margin:0px auto;
		position: relative;
		background-color: #eaeaea;
		width: 332px;
		margin-top:-300px;
		min-height: 155px;
		border: 1px solid #d0d0d0;
		//.box-shadow(7px 7px 1px rgba(210, 210, 210, 0.38));
		.box-shadow(0px 0px 50px rgba(0, 0, 0, 0.51));
		.rounded-corners(7px);
		.transition(all,500ms,ease);
		input{
			width: 288px;
			height: 35px;
			margin-bottom: 10px;
			color: rgb(62, 149, 218);
		}
		.button-register{
			margin-bottom: 20px;
			margin-top: 20px;
		}
	}

	article.out{

		margin-top:150px
	}
}

span.loading{
	position:fixed;
	width:100%;
	height:100px;
	text-align:center;
	top:200px;
	h1{
		color: rgb(206, 206, 206);
		text-shadow: 1px 1px 1px rgb(235, 235, 235);
	}

}
header.afterload{
	background-color:rgba(0, 0, 0, 0.77);
}
header{
	top:0px;
	background-color: black;
	height:50px;
	position:fixed;
	width:100%;
	font-family:"BebasNeueRegular";
	z-index:100;
	nav{
		width:@viewpoint;
		position:relative;
		margin:0px auto;

		a{
			color: white;
			font-size: 24px;
			margin-right: 15px;
			margin-top: 11px;
			display: inline-block;
			cursor:pointer;
		}
	}
}

div.login{
	margin-top:-240px;
	display:inline-block;
	position: relative;
	background-color: #eaeaea;
	width: 332px;
	height: 155px;
	border: 1px solid #d0d0d0;
	.box-shadow(7px 7px 1px rgba(210, 210, 210, 0.38));
	.rounded-corners(7px);
	.transition(all,500ms,ease);
	input{
		width:150px;
		background-color:#303030;
		.rounded-corners(3px);

		border: 1px solid #fff;
		color: rgb(170, 170, 170);
		padding: 5px;
		margin-left: 15px;
		.box-shadow( inset 3px 3px 3px rgba(0, 0, 0, 0.3));
		&:first-of-type{
			margin-top:15px;
			margin-bottom:8px;
		}

		&:focus{
			outline:0;
		}

	}
	span{
		float:left;
		width:145px;
		height:92px;
		&:first-of-type{
			width:177px;
		}
	}
}
.login-anim{
	margin-top:333px !important;
	.box-shadow(7px 7px 1px #d2d2d2) !important;
}

div.content{
	position:relative;
}

div.notice{
	background-color: #fafafa;
	width: 670px;
	height: 160px;
	border: 1px solid #d0d0d0;
	.box-shadow(7px 7px 1px #d2d2d2);
	.rounded-corners(7px);
	margin-top:20px;
	display:none;
	img{
		float:left;
		width:95px;
		height:auto;
		margin-top:17px;
		margin-left:17px;
		margin-right:15px;
		.box-shadow(1px 1px 1px rgba(85, 85, 85, 0.42));
	}

	span{
		float:left;
		width:530px;
		h1{
			color:#bebebe;
			margin:0px;
			font-weight:normal;
			margin-top:17px;
		}
		p{
			font-family:"arial";
			font-size:14px;
			color:#696969;
			margin-top:5px;
			strong{
				.bebas;
				color:#48b7cb;
				font-size:15px;
			}
		}
	}
}

section.main{
	background-color:white;
	background-image:url("images/bg.png");
	position:fixed;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
}
section{
	display:block;
	width:100%;
	position:relative;
	.transition(all,500ms,ease);

	input{
		width:150px;
		background-color:#303030;
		.rounded-corners(3px);

		border: 1px solid #fff;
		color: rgb(170, 170, 170);
		padding: 5px;
		margin-left: 15px;
		.box-shadow( inset 3px 3px 3px rgba(0, 0, 0, 0.3));
		&:first-of-type{
			margin-top:15px;
			margin-bottom:8px;
		}

		&:focus{
			outline:0;
		}

	}
	article{
		width:@viewpoint;
		display:block;
		margin:0px auto;
		position:relative;
	}
}